@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Kaushan+Script&display=swap');

:root{
    --blanc-neige: #FFFFFF;
    --gris-claire: #F5F5F5;
    --noir-charbon: #333333;
    --gris-souris: #808080;
    --gris-sombre: #D3D3D3;
    --bleu-sombre: #2A52BE;
    --bleu-clair: #0069d9;
    --rose-poudre: #E57373;
    --vert-sauge: #8A9A5B;
}

body{
    background-color: var(--blanc-neige);
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Kaushan Script';
    margin-top: 0;
    font-size: 40px;
}

h2{
    padding: 50px; 
}

p, span{
    font-family: 'Jura';
}

/* ---------- block de présentation ---------- */

.block-presentation{
    width: 100%;
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
}

.photo{
    width: 260px; 
    height: 260px; 
    overflow: hidden; 
    border-radius: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    border-radius: 50%;
}


/* ---------- block de about ---------- */

.block-about {
    background-color: var(--noir-charbon);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    color: var(--blanc-neige);
    font-size: 22px;
}

.component-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 22px;
}

.CV{
    width: 550px;
    height: 810px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container p, .text-container h2 {
    width: 800px;
    text-align: left;
}

/* ---------- block de formation ---------- */

.block-formation{
    background-color: var(--gris-claire);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

/* ---------- block de experience ---------- */

.block-experience{
    background-color: var(--blanc-neige);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

/* ---------- block de skills ---------- */

.block-skills {
    background-color: var(--noir-charbon);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    color: var(--blanc-neige);
}

.table-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 3px solid var(--blanc-neige);
    font-size: 18px;
}

.table-skills img {
    width: 70px;
    height: auto;
    margin: 10px;
    transition: transform 0.2s ease;
}

.table-skills img:hover {
    transform: scale(1.1);
}

/* ---------- block de project ---------- */

.block-project{
    background-color: var(--gris-claire);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

/* ---------- block de contact ---------- */

.block-contact{
    background-color: var(--blanc-neige);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}


.social {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: bold;
}

.social img {
    width: 40px;
    height: auto;
    margin: 10px;
    transition: transform 0.2s ease;
}

/* ---------- card ---------- */

.card{
    box-sizing: border-box;
    width: 80%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: var(--gris-sombre) 4px 4px 20px;
    border: solid var(--gris-souris);
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    transition: height 0.3s ease-in-out;
}

.card span{
    color: var(--vert-sauge);
}

.card .code{
    color: var(--bleu-sombre);
}

.card .finish{
    color: red;
    font-weight: bold;
}

.card .cours{
    color: green;
    font-weight: bold;
}

.date{
    color: var(--rose-poudre);
}

.extra-content {
    display: none;
    margin-top: 10px;
}

.extra-content img {
    width: 100%;
}

.extra-content p{
    text-align: left;
    margin-left: 6%;
}

.extra-content .sub-title{
    font-size: 22px;
    font-weight: bold;
    
    color: red;
    padding: 10px 0px 10px 0;
}

.card.expanded .extra-content {
    display: block;
}

button {
    background-color: var(--bleu-sombre);
    color: var(--blanc-neige);
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: var(--bleu-clair);
}

/* ---------- Footer ---------- */

footer{
    background-color: var(--noir-charbon);
    width: 100%;
    height: 100px;
    color: var(--blanc-neige);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* ---------- format téléphone ---------- */

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        overflow-x: hidden;
        margin-right: 20px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
        padding: 30px 0;
    }

    /* Block de présentation */
    .block-presentation {
        flex-direction: column;
        height: auto;
        padding: 20px 10px;
    }

    .photo {
        width: 180px;
        height: 180px;
        padding: 0;
        margin-bottom: 20px;
    }

    .photo img {
        object-position: cover;
    }

    /* Block About */
    .block-about {
        padding: 20px 10px;
        font-size: 16px;
    }

    .component-text {
        flex-direction: column;
    }

    .text-container p, .text-container h2 {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .CV{
        width: 100%;
        height: auto;
    }

    /* Block formation, expérience et projets */
    .block-formation, .block-experience, .block-project {
        padding: 20px 10px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }

    .extra-content {
        font-size: 12px;
    }

    .extra-content img{
        width: 100%;
    }

    /* Block skills */
    .block-skills {
        padding: 20px 10px;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 0px;
    }

    .table-skills img {
        width: 50px;
        margin: 5px;
    }

    /* Block contact */
    .block-contact {
        padding: 20px 10px;
    }

    /* Social icons */
    .social {
        flex-direction: column;
        text-align: center;
    }

    .social img {
        width: 30px;
        margin: 5px;
    }

    /* Footer */
    footer {
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 12px;
        text-align: center;
    }
}